S3method(add_function, src_HS2)
S3method(add_jar, src_HS2)
S3method(add_extension, src_HS2)
S3method(collect, tbl_HS2)
S3method(copy_to, src_SparkSQL)
S3method(copy_to, src_Hive)
S3method(cross_join, tbl_HS2)
S3method(db_begin, HS2Connection)
S3method(db_analyze, HS2Connection)
S3method(db_commit, HS2Connection)
S3method(db_create_index, HS2Connection)
S3method(db_create_table, HS2Connection)
S3method(db_data_type, HS2Connection)
S3method(db_drop_table, HS2Connection)
S3method(db_explain, HS2Connection)
S3method(db_has_table, HS2Connection)
S3method(db_insert_into, HS2Connection)
S3method(db_list_tables, HS2Connection)
S3method(db_query_fields, HS2Connection)
S3method(db_query_fields, HiveConnection)
S3method(db_rollback, HS2Connection)
S3method(db_save_query, HS2Connection)
S3method(filter_, tbl_HS2)
S3method(full_join, tbl_HS2)
S3method(head, tbl_HS2)
S3method(intersect, tbl_HS2)
S3method(load_to, src_Hive)
S3method(load_to, src_SparkSQL)
S3method(mutate_, tbl_HS2)
#S3method(refresh, tbl_sql)
#S3method(refresh, src_HS2)
S3method(right_join, tbl_HS2)
S3method(sql_escape_ident, HS2Connection)
S3method(sql_escape_string, HS2Connection)
S3method(sql_join, HS2Connection)
S3method(sql_semi_join, HS2Connection)
S3method(src_desc, src_HS2)
S3method(src_translate_env, src_HS2)
S3method(tbl, src_HS2)
S3method(tbls, default)
S3method(tbls, src_sql)
S3method(union, tbl_HS2)
export(src_SparkSQL)
export(src_Hive)
export(cache)
export(cross_join)
export(load_to)
export(tbls)
export(ExternalData)
export(CSVData)
export(JDBCData)
#export(refresh)
import(dplyr)
import(purrr)
importFrom(utils, head)
importFrom(DBI, dbConnect)
importFrom(DBI, dbDataType)
importFrom(DBI, dbGetQuery)
importFrom(lazyeval, all_dots)
importFrom(RJDBC, JDBC)
